<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>servlet</display-name>
  <servlet>
  	  <description>hello</description>
  	  <display-name>hello</display-name>
	  <servlet-name>ServletDemo1</servlet-name>
	  <servlet-class>servlet.ServletDemo1</servlet-class>
	  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletDemo1</servlet-name>
  	<url-pattern>/servlet/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ResponseDemo03</servlet-name>
  	<servlet-class>servlet.ResponseDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ResponseDemo03</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>FilterDemo01</filter-name>
  	<filter-class>servlet.FilterDemo01</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterDemo01</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
      <description>ServletContextListener监听器</description>
      <!--实现了ServletContextListener接口的监听器类 -->
      <listener-class>servlet.MyServletContextListener</listener-class>
  </listener>
  
   <listener>
       <description>ServletRequestListener监听器</description>
       <listener-class>servlet.MyServletRequestListener</listener-class>
   </listener>
</web-app>